:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  // color-scheme: light dark;
  color: #000;
  --text-color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: inherit;
}
a:hover {
  color: gray;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 12px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  // background-color: #1a1a1a;
  // transition: border-color 0.25s;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     --text-color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: gray;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }

.mapboxgl-popup-content {
  min-width: 400px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 8px 12px 32px rgba(0, 0, 0, 0.2);
}
