// NOTE: MAPBOX HAS ITS OWN CONTAINER CLASS FOR THE POPUP. WIDTH, HEIGHT, PADDING ETC. HAVE TO BE DEFINED THERE (SEE INDEX.SCSS)

.mapboxPopup {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  .popupImg {
    height: 220px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: cover;
    background-position: center;
    background-color: #f6f6f6;
  }

  .bottomSide {
    padding: 0px 12px;

    h3 {
      font-size: 16px;
      height: 35px;
      display: flex;
      align-items: center;
    }
    .info {
      background-color: rgb(244, 244, 244);
      height: 92px;
    }
  }
}
