.formInput {
  display: flex;
  flex-direction: column;
  position: relative;

  input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 25px;
    &:focus {
      outline: none;
      border: 1px solid #aaa;
    }
  }

  // Hide increment/decrement buttons on chrome:
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  // Hide increment/decrement buttons on firefox:
  input[type="number"] {
    appearance: textfield;
  }

  input[type="file"] {
    border: none;
  }

  .errorMessage {
    position: absolute;
    bottom: 7px;
    font-size: 11px;
    color: rgb(227, 6, 6);
    display: none;
  }

  input:invalid ~ .errorMessage {
    display: block;
  }
}
