.formInput {
  display: flex;
  flex-direction: column;
  position: relative;

  input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 25px;
    &:focus {
      outline: none;
      border: 1px solid #aaa;
    }
  }

  input[type="file"] {
    width: 40%;
    border: none;
    padding: 0;
  }

  .invalid {
    border: 1px solid rgb(203, 43, 43);
    &:focus {
      border: 1px solid rgb(203, 43, 43);
    }
  }

  .errorMessage {
    position: absolute;
    bottom: 7px;
    font-size: 11px;
    color: rgb(227, 6, 6);
  }
}
