.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  .logo {
    padding: 10px;
    margin: 0 20px;
  }

  ul {
    display: flex;
    list-style: none;

    a {
      padding: 10px;
      margin: 0 20px;
    }
  }
}
