.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 45px;
  background-color: white;
  display: flex;
  z-index: 2;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);

  // Padding and align-items: center in a mixed-in? Right now only first childrens of .header are affected, .add and sign-in have an 
  // unnecessary redeclaration of these properties.

  & > * {
    display: flex;
    align-items: center;
    padding: 0 50px;
  }

  .logo {
    font-weight: 800;
  }

  .searchbar {
    width: 400px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: rgb(146, 146, 146);
  }

  .filter {
    color: rgb(146, 146, 146);
  }

  .rightSide {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0;

    .add {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 50px;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      cursor: pointer;
      
      &:hover {
        background-color: black;
        color: white;
      }
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 50px;
      font-weight: 800;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
